<ion-header>
  <ion-toolbar class="title">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/book-category"></ion-back-button>
    </ion-buttons>
    <ion-title>Med Tech Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" padding>

  <ion-list>
    <ion-item *ngFor="let item of items" detail="true" tappable routerLink="/detail/{{ item.id }}">
      <!--<ion-item *ngFor="let item of itemService.items" detail="true" tappable href="/detail/{{ item.id }}">-->
      <!--<ion-item *ngFor="let item of items">-->
      <ion-label>
        <h2 style="font-weight: bold;">{{ item.name }}</h2>
        <h3>{{ item.author }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
